/* this will contain the standard, universal CSS for all of the pages. */

html {
    background-color: black;
}

nav {
    background-color: darkcyan;
    text-align: center;
    scale: auto;
}

button {    /* I shit you not, I have ported thhis shit over 20 times now. */
    border: 0px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: transparent;
}

h1 {
    font-family: Arial;
    color: white;
}

h6 {
    color: transparent;
}

p{
    font-family: Arial;
    color: white;
}

a {
    font-family: Arial;
    color: white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }